<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   <form method="POST" action="/newteam">
    <p>Team Name: <input type="text" name=""></p>
    <p>Coach: <input type="text" name=""</p>
    <p>Point Guard: <input type="text" name=""</p>
    <p>Shooting Guard: <input type="text" name=""</p>
    <p>Small Forward: <input type="text" name=""</p>
    <p>Power Forward: <input type="text" name=""</p>
    <p>Center: <input type="text" name=""</p>
   <input id="Submit" type="submit">
   </form>
 </body>
</html>


